<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

<form action="/cool_url" method="GET">
  <div>
    <label for="text_field">Enter Text: </label>
    <input id="text_field" type="text" name="post[title]">
  </div>
  <div>
    <input type="submit" value="do it">
  </div>
 </form>

  <form action="/cool_url" method="POST">
  <div>
    <label for="text_field2">Enter Text: </label>
    <input id="text_field2" type="text" name="post[price]">
  </div>
  <div>
    <input type="submit">
  </div>
</form>

</div>
